:root {
  --primary: rgb(42, 91, 214);
}

header {
  display: flex;
  justify-content: space-between;
  height: 100px;
  /* border: 1px solid red; */
}

main {
  display: flex;
  justify-content: center;
  /* border: 1px solid red; */
}

.show,
.hide {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 50%;
  text-align: center;
  /* border: 1px solid red; */
}

.show h1,
.hide h1 {
  width: 100%;
}

.show p {
  padding: 5px 20px;
}

.btn {
  outline: none;
  border: none;
  padding: 10px 15px;
  background-color: var(--primary);
  color: #fff;
  border-radius: 12px;
  box-shadow: 0 3px 4px black;
  width: 70px;
}

.btn:hover {
  box-shadow: 0 2px 3px;
}

.btn:active {
  box-shadow: 0 0 2px;
}

.answer-btn {
  outline: none;
  border: none;
  padding: 10px 15px;
  margin: 15px;
  background-color: var(--primary);
  color: #fff;
  border-radius: 12px;
  box-shadow: 0 3px 4px black;
  text-align: left;
}

.choices {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.hide {
  display: none;
}
